/* ToDo 
 * Import fonts from google fonts 
 */
/*Roboto Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  /* ToDo 
   * Declare all color and font variables 
   */
  --white-color: #ffffff;
  --background-color: #e5e5e5;
  --darkgrey-color: #484848;
  --middlegrey-color: #767676;
  --lightgrey-color: #8f8f8f;
  --red-color: #ff5a5f;
  --green-color: #008489;
  --purple-color: #914669;
  --roboto-font: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--roboto-font);
}
